* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #000;
}
.container {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  background-color: #000;
}
.comment {
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.comment-div {
  width: 80%;
  height: 100vh;
}
.commit-top{
    width: 100%;
    height: 100px;
}
.commit-left {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 13px;
}
.commit-leftt {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.commit-center{
    width: 100%;
    height: 80vh;

}
.commitccc{
    width: 85%;
    height: auto;
    margin: 0 auto;

    border-radius: 14px;
    padding: 50px;
    background-color: #fff;
}
.compro{
    width: 150px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div{
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    background-image: url("../public/user-solid\ \(3\).svg");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    color: #000;
}
.p1{
    color: #000;
    font-size: 20px;
}
.span1{
    font-size: 50px;
    color: #000; 
    width: 150px;
    height: 50px;
    /* border: 2px solid black; */
    border-radius: 50%; 
    display: flex;
    align-items: center;
 
    background-color: transparent;
    border: none;
}

.span2{
    font-size: 50px; 
    color: #000;
    width: 150px;
    height: 50px;
    border: 2px solid black; 
    border-radius: 50%; 
    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;
    
}
.likecommit{
    width: 300px;
    display: flex;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputdiv{
    width: 1000px;
    height: 50px;
}
.input{
    width: 900px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    margin-right: 20px;
    padding-left: 10px;
}
.submit{
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    border: none;
}
.submit:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}
.committext{
    width: 1050px;
    height: auto;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}                                                                   
.comdiv{
    width: 900px;
    height: auto;
    padding-right: 20px;
    padding-left: 20px;

    overflow: hidden;
}
.committexttop{
    width: 1010px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.committexttopleft{
    width: 130px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.topleftimgg{
    background-size: 38px 38px;
    background-image: url('../public/user-solid\ \(4\).svg');
    width: 40px;
    height: 40px;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 40px;
}
.topleftuser{
    color: #fff;
}
.ahlat{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    background-image: url('../public/trash-solid.svg');
    background-size: 30px 30px;
}
.commentarya{

    color: #fff;
    margin-top: 10px;
}
.commentBtn{
    font-size: 12px;
    color: #ffffffb1;
}